body{
    background-color: #fdf5e6;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    font-size:35px;
    margin: 0;
    text-align: center;
}

.buttonStyle{
    background: none;
    border: 2px solid #9AABD8;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1), 0 4px 8px 0 rgba(0,0,0,0.12);
    border-radius: 8px;
    color:#52595D;
    font-size: 18px;
    margin: 40px 5px;
    padding: 12px 12px;
}

.container1{
    display: flex;
    justify-content: space-around;
}

.container1 h1{
    color: #52595D;
}

.score{
    background-color: #625D5D;
    border-radius: 8px;
    color: #F94F6D;
    font-size: 90px;
    max-width: 100%;
    margin: 20px;
    opacity: .75;
    padding: 40px 25px;
    text-align: center;
    width: 190px;
}